<div id="breakdown">
    <div id="positiveBreakdown">
        <h2>Positive Breakdown</h2>
        <h4>Average Score: 0.9</h4>
        <h4>Average number of comments: 100</h4>
        <h4>Most common word: good</h4>
        <h4>Average nume of upvotes: 100</h4>
        <h4>Average upvote ratio:</h4>
        <h4>Most common Subreddit: all</h4>
    </div>
    <div id="neutralBreakdown">
        <h2>Neutral Breakdown</h2>
        <h4>Average Score: 0.9</h4>
        <h4>Average number of comments: 100</h4>
        <h4>Most common word: good</h4>
        <h4>Average nume of upvotes: 100</h4>
        <h4>Average upvote ratio:</h4>
        <h4>Most common Subreddit: all</h4>
    </div>
    <div id="negativeBreakdown">
        <h2>Negative Breakdown</h2>
        <h4>Average Score: 0.9</h4>
        <h4>Average number of comments: 100</h4>
        <h4>Most common word: good</h4>
        <h4>Average nume of upvotes: 100</h4>
        <h4>Average upvote ratio:</h4>
        <h4>Most common Subreddit: all</h4>
    </div>
</div>