<div id="breakdown">
    <h1>Breakdown</h1>
    <table id="breakdownTable">
        <tr>
            <th></th>
            <th>Positive</th>
            <th>Neutral</th>
            <th>Negative</th>
        </tr>
        <tr>
            <td>Percentage of Overall</td>
            <td id="percentageOfOverallPositive">{{ positiveBreakdownData['PercentageOfOverall'] }}%</td>
            <td id="percentageOfOverallNeutral">{{ neutralBreakdownData['PercentageOfOverall'] }}%</td>
            <td id="percentageOfOverallNegative">{{ negativeBreakdownData['PercentageOfOverall'] }}%</td>
        </tr>
        <tr>
            <td>Average Score</td>
            <td id="averageScorePositive">{{ positiveBreakdownData['AverageScore'] }}</td>
            <td id="averageScoreNeutral">{{ neutralBreakdownData['AverageScore'] }}</td>
            <td id="averageScoreNegative">{{ negativeBreakdownData['AverageScore'] }}</td>
        </tr>
        <tr>
            <td>Average number of comments</td>
            <td id="averageNumberOfCommentsPositive">{{ positiveBreakdownData['AverageNumOfComments'] }}</td>
            <td id="averageNumberOfCommentsNeutral">{{ neutralBreakdownData['AverageNumOfComments'] }}</td>
            <td id="averageNumberOfCommentsNegative">{{ negativeBreakdownData['AverageNumOfComments'] }}</td>
        </tr>
        <tr>
            <td>Most common word</td>
            <td id="mostCommonWordPositive">{{ positiveBreakdownData['MostCommonWord'] }}</td>
            <td id="mostCommonWordNeutral">{{ neutralBreakdownData['MostCommonWord'] }}</td>
            <td id="mostCommonWordNegative">{{ negativeBreakdownData['MostCommonWord'] }}</td>
        </tr>
        <tr>
            <td>Average number of upvotes</td>
            <td id="averageNumberOfUpvotesPositive">{{ positiveBreakdownData['AverageNumberOfUpvotes'] }}</td>
            <td id="averageNumberOfUpvotesNeutral">{{ neutralBreakdownData['AverageNumberOfUpvotes'] }}</td>
            <td id="averageNumberOfUpvotesNegative">{{ negativeBreakdownData['AverageNumberOfUpvotes'] }}</td>
        </tr>
        <tr>
            <td>Average upvote ratio</td>
            <td id="averageUpvoteRatioPositive">{{ positiveBreakdownData['AverageUpvoteRatio'] }}</td>
            <td id="averageUpvoteRatioNeutral">{{ neutralBreakdownData['AverageUpvoteRatio'] }}</td>
            <td id="averageUpvoteRatioNegative">{{ negativeBreakdownData['AverageUpvoteRatio'] }}</td>
        </tr>
        <tr>
            <td>Most common Subreddit</td>
            <td id="mostCommonSubredditPositive">{{ positiveBreakdownData['MostCommonSubreddit'] }}</td>
            <td id="mostCommonSubredditNeutral">{{ neutralBreakdownData['MostCommonSubreddit'] }}</td>
            <td id="mostCommonSubredditNegative">{{ negativeBreakdownData['MostCommonSubreddit'] }}</td>
        </tr>
    </table>
</div>