<!--
Author: Dawid Pionk 
Description: This html file displays the table that displays the breakdown of data for each of the 
        sentiment categories.
Date: 09/02/2025
-->
<div id="breakdown">
    <h1 class="section-heading">Breakdown</h1>
    <table id="breakdownTable">
        <tr>
            <th></th>
            <th>Positive</th>
            <th>Neutral</th>
            <th>Negative</th>
        </tr>
        <tr>
            <td>Percentage of Overall</td>
            <td id="percentageOfOverallPositive"></td>
            <td id="percentageOfOverallNeutral"></td>
            <td id="percentageOfOverallNegative"></td>
        </tr>
        <tr>
            <td>Average Score</td>
            <td id="averageScorePositive"></td>
            <td id="averageScoreNeutral"></td>
            <td id="averageScoreNegative"></td>
        </tr>
        <tr>
            <td>Average number of comments</td>
            <td id="averageNumberOfCommentsPositive"></td>
            <td id="averageNumberOfCommentsNeutral"></td>
            <td id="averageNumberOfCommentsNegative"></td>
        </tr>
        <tr>
            <td>Most common word</td>
            <td id="mostCommonWordPositive"></td>
            <td id="mostCommonWordNeutral"></td>
            <td id="mostCommonWordNegative"></td>
        </tr>
        <tr>
            <td>Average number of upvotes</td>
            <td id="averageNumberOfUpvotesPositive"></td>
            <td id="averageNumberOfUpvotesNeutral"></td>
            <td id="averageNumberOfUpvotesNegative"></td>
        </tr>
        <tr>
            <td>Average upvote ratio</td>
            <td id="averageUpvoteRatioPositive"></td>
            <td id="averageUpvoteRatioNeutral"></td>
            <td id="averageUpvoteRatioNegative"></td>
        </tr>
        <tr>
            <td>Most common Subreddit</td>
            <td id="mostCommonSubredditPositive"></td>
            <td id="mostCommonSubredditNeutral"></td>
            <td id="mostCommonSubredditNegative"></td>
        </tr>
    </table>
</div>
<script>setBreakdownData();</script>