<!--
Author: Dawid Pionk 
Description: This html file contains the page that is displayed after a user submits a form.
            It contains buttons that display other pages as well as charts.
Date: 09/02/2025
-->
<!--
    This pie chart displays what is the divide between the positive,
    neutral and negative posts
-->
<!--Sets global variables-->
<script>
    setGlobalVariables({{ jsonData | tojson | safe }}, '{{ search }}');
</script>

<div id="pieChartSection" class="chartContainer">
    <h1>Below is the breakdown of the sentiment of {{ search }}</h1>
    <canvas id="pieChart" width="400" height="400"></canvas>
    <script>      
        displayPieChart("{{ search }}");
    </script>
</div>
<!--This section displays the breakdown of the sentiment of the posts-->
{% include "breakdown.html" %}
<div id="buttonSection">
    <button onclick="moreGraphsClicked()">View More Graphs</button>
    <button onclick="viewPostsClicked()">View Specific Posts</button>
    {% if userInformation %}
    <button onclick="userInfoButtonClicked()">View User Information</button>
    {% endif %}
</div>
<!--This section displays the more detailed graphs-->
<div id="moreChartSection">
     <!-- Bar Chart for Subreddits -->
    <div id="subredditBarChartSection" class="chartContainer">
        <h3>Post per Subreddit</h3>
        <canvas id="subredditBarChart" class="chart"></canvas>
        <script>      
            displaySubredditBarChart();
        </script>
    </div>
    <!-- Sentiment Over Time       -->
    <div id="sentimentOverTimeSection" class="chartContainer">
        <h3>Sentiment Over Time</h3>
        <canvas id="sentimentOverTimeLineGraph" class="chart"></canvas>
        <script>      
            sentimentOverTimeLineGraph();
        </script>
    </div>
    <!-- Wordcloud -->
    <div id="wordcloudContainer" class="chartContainer">
        <h3>Wordcloud</h3>
        <script src="https://cdn.jsdelivr.net/npm/wordcloud@1.0.1/dist/wordcloud.min.js"></script>
        <script>      
            displayWordCloud("{{ wordCloudData }}");
        </script>
    </div>
    <div>
        <h3>Scatter Graph for sentiment vs Comment numbers</h3>
        <canvas id="sentimentAndCommentsChart" class="chart" width="800" height="400"></canvas>
        <script>      
            setSentimentAndCommentsSection();
        </script>
    </div>
    <div>
        <h3>Scatter Graph for sentiment vs Upvotes numbers</h3>
        <canvas id="sentimentAndUpvotesChart" class="chart" width="800" height="400"></canvas>
        <script>      
            setSentimentAndUpvotesSection();
        </script>
    </div>
</div>
<!--This section displays the individual posts-->
<div id="viewPostsSection">
    {% include "viewPosts.html" %}
</div>
<!--
    This section displays the user information, it is only displayed
    when the user selects to view the sentiment of a specific redditor 
-->
<div id="userInfoContainer">
    {% if userInformation %}
        {% include "userInfo.html" %}
    {% endif %}
</div>