<!--
Author: Dawid Pionk 
Description: This html file contains the page that is displayed after a user submits a form.
            It contains buttons that display other pages as well as charts.
Date: 09/02/2025
-->
<!--
    This pie chart displays what is the divide between the positive,
    neutral and negative posts
-->
<div id="pieChartSection">
    <h1>Below is the breakdown of the sentiment of {{ session.search }}</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script>      
        displayPieChart(
            "{{ session.postTitleSentimentCount[0] }}", 
            "{{ session.postTitleSentimentCount[1] }}", 
            "{{ session.postTitleSentimentCount[2] }}",
            "{{ session.search }}"
        );
    </script>
</div>
<!--This section displays the breakdown of the sentiment of the posts-->
{% include "breakdown.html" %}
<div id="buttonSection">
    <button onclick="moreGraphsClicked()">View More Graphs</button>
    <button onclick="viewPostsClicked()">View Specific Posts</button>
    {% if userInformation %}
    <button onclick="userInfoButtonClicked()">View User Information</button>
    {% endif %}
</div>
<!--This section displays the more detailed graphs-->
<div id="moreChartSection">
     <!-- Bar Chart for Subreddits -->
    <div id="subredditBarChartSection" class="chartContainer">
        <canvas id="subredditBarChart" class="chart"></canvas>
        <script>      
            displaySubredditBarChart(
                "{{ session.subKeyList }}",
                "{{ session.subItemList }}"
            );
        </script>
    </div>
    <!-- Sentiment Over Time       -->
    <div id="sentimentOverTimeSection" class="chartContainer">
        <canvas id="sentimentOverTimeLineGraph" class="chart"></canvas>
        <script>      
            sentimentOverTimeLineGraph();
        </script>
    </div>
    <!-- Top Keywords by Sentimnet -->
    <div id="topKeywordsBySentimentSection" class="chartContainer">
        <canvas id="topKeywordsBySentimentBarChart" class="chart"></canvas>
        <script>      
            topKeywordsBySentimentBarChart();
        </script>
    </div>
    <!-- Sentiment vs. Engagement  -->
    <div id="sentimentVSEngagementSection" class="chartContainer">
        <canvas id="sentimentVSEngagementScatterGraph" class="chart"></canvas>
        <script>      
            sentimentVSEngagementSection();
        </script>
    </div>
    <!-- Wordcloud -->
    <div id="wordcloudContainer" class="chartContainer">
        <h3>Wordcloud</h3>
        <script src="https://cdn.jsdelivr.net/npm/wordcloud@1.0.1/dist/wordcloud.min.js"></script>
        <script>      
            displayWordCloud("{{ wordCloudData }}");
        </script>
    </div>
</div>
<!--This section displays the individual posts-->
<div id="viewPostsSection">
    {% include "viewPosts.html" %}
</div>
<!--
    This section displays the user information, it is only displayed
    when the user selects to view the sentiment of a specific redditor 
-->
<div id="userInfoContainer">
    {% if userInformation %}
        {% include "userInfo.html" %}
    {% endif %}
</div>