<!--
Author: Dawid Pionk 
Description: This html file is displayed at the main page it contains several information about the 
            project
Date: 09/02/2025
-->
<div id="additionalInformation">
<!--This section contains the table with the google trending topics-->
    <div class="textArea" id="trendingSection">
        <h1 class="section-heading">Google Trending Topics</h1>
        <table id="trendingTopicsTable" class="rounded">
            <th>Index</th>
            <th>Global</th>
            <th>Ireland</th>
            <th>UK</th>
            <th>US</th>
            {% for topic in worldwideTrendingList %}
            {% if loop.index <= 5%}
                <tr>
                    <td class="trendingTopic">{{ loop.index }}</td>
                    <td class="trendingTopic">{{ topic }}</td>
                    <td class="trendingTopic">{{ irelandTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ ukTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ usTrendingList[loop.index] }}</td>
                </tr>
            {% else %}
                <tr hidden>
                    <td class="trendingTopic">{{ loop.index }}</td>
                    <td class="trendingTopic">{{ topic }}</td>
                    <td class="trendingTopic">{{ irelandTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ ukTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ usTrendingList[loop.index] }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            <td colspan="5" id="trendingButtons">
                <input type="button"  id="viewMoreTrends" class="btn btn-primary" value="View More" onclick="viewMoreTrends(this)">
                <input type="button"  id="viewLessTrends" class="btn btn-primary" value="View Less" onclick="viewLessTrends(this)" hidden>
            </td>
        </table>
    </div>
    <div class="textArea" id="featureSection">
        <h1 class="section-heading">Features</h1>
        <p>
            Sentiment Analysis based on different criteria such as:
            <ul>
                <li>Topic</li>
                <li>Redditor</li>
                <li>Subreddit</li>
                <li>Comments</li>
                <li>Domain</li>
            </ul>
            Once the user selected a category they can view the breakdown of the data in the next page, 
            based on several charts and graphs. Some of those graphs are:
            <ul>
                <li>Pie Chart - Sentiment breakdown</li>
                <li>Subreddit Occurence</li>
                <li>Sentiment over a specific window of time</li>
                <li>Wordcloud</li>
            </ul>
            The breakdown of the data also includes a page where you can view each specific post, its sentiment and other important information associated with it.
        </p>
    </div>
    <div class="textArea">
        <h1 class="section-heading">How can Sentiment Analaysis Benefit You</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo lectus in metus tristique, 
            id mattis eros porta. Praesent congue accumsan maximus. Phasellus enim eros, convallis nec leo luctus,
            mattis consequat nisi. Nam fringilla interdum erat, at dapibus purus iaculis at. Proin scelerisque lacus
            eu ligula varius egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
            curae; Phasellus eros massa, semper in magna non, efficitur gravida urna. Donec auctor in justo fringilla placerat. 
            Nulla sodales feugiat turpis nec malesuada. Aliquam in leo vel libero lacinia pellentesque. Phasellus ornare 
            eros tellus, sodales porttitor odio tincidunt nec. Pellentesque quis ipsum ac orci pharetra ullamcorper quis eget 
            nibh. In feugiat consectetur leo tincidunt convallis.
        </p>
    </div>
    <div id="bottomHomePage">
        <div class="textArea">
            <h1 class="section-heading">How does it work</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo lectus in metus tristique, 
                id mattis eros porta. Praesent congue accumsan maximus. Phasellus enim eros, convallis nec leo luctus,
                mattis consequat nisi. Nam fringilla interdum erat, at dapibus purus iaculis at. Proin scelerisque lacus
                eu ligula varius egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia 
                curae; Phasellus eros massa, semper in magna non, efficitur gravida urna. Donec auctor in justo fringilla placerat. 
                Nulla sodales feugiat turpis nec malesuada. Aliquam in leo vel libero lacinia pellentesque. Phasellus ornare 
                eros tellus, sodales porttitor odio tincidunt nec. Pellentesque quis ipsum ac orci pharetra ullamcorper quis eget 
                nibh. In feugiat consectetur leo tincidunt convallis.
            </p>
        </div>
    </div>
</div>
{% if scrollToTrending %}
    <script>
        scrollToElement("trendingSection")
        console.log("scrolling to trending")
    </script>
{% endif%}
{% if scrollToAbout %}
    <script>scrollToElement("featureSection")</script>
{% endif %}