<!--
Author: Dawid Pionk 
Description: This html file is displayed at the main page it contains several information about the 
            project
Date: 09/02/2025
-->
<div id="additionalInformation">
<!--This section contains the table with the google trending topics-->
    <div class="textArea" id="trendingSection">
        <h1 class="section-heading">Google Trending Topics</h1>
        <table id="trendingTopicsTable" class="rounded">
            <th>Index</th>
            <th>Global</th>
            <th>Ireland</th>
            <th>UK</th>
            <th>US</th>
            {% for topic in worldwideTrendingList %}
            {% if loop.index <= 5%}
                <tr>
                    <td class="trendingTopic">{{ loop.index }}</td>
                    <td class="trendingTopic">{{ topic }}</td>
                    <td class="trendingTopic">{{ irelandTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ ukTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ usTrendingList[loop.index] }}</td>
                </tr>
            {% else %}
                <tr hidden>
                    <td class="trendingTopic">{{ loop.index }}</td>
                    <td class="trendingTopic">{{ topic }}</td>
                    <td class="trendingTopic">{{ irelandTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ ukTrendingList[loop.index] }}</td>
                    <td class="trendingTopic">{{ usTrendingList[loop.index] }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            <td colspan="5" id="trendingButtons">
                <input type="button"  id="viewMoreTrends" class="btn btn-primary" value="View More" onclick="viewMoreTrends(this)">
                <input type="button"  id="viewLessTrends" class="btn btn-primary" value="View Less" onclick="viewLessTrends(this)" hidden>
            </td>
        </table>
    </div>
    <div class="textArea">
        <h1 class="section-heading">How can Sentiment Analaysis Benefit You</h1>
        <div class="row justify-content-around">
            <div class="card-group justify-content-center">
                <div class="card text-white mb-3">
                    <img src="../static/images/Brand-Monitoring.svg" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Brand Monitoring</h5>
                        <p class="card-text">Get insights about how users feel about your brand</p>
                    </div>
                </div>
                <div class="card text-white mb-3">
                    <img src="../static/images/Market-Research.jpg" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Market Research</h5>
                        <p class="card-text">See if there is a demand for your product.</p>
                    </div>
                </div>
                <div class="card text-white mb-3">
                    <img src="../static/images/Trend-Analysis.png" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Trend analysis</h5>
                        <p class="card-text">Track current trends and find out what people are paying attention to</p>
                    </div>
                </div>
                <div class="card text-white mb-3">
                    <img src="../static/images/public-relations-thumbnail0424.png" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Crisis Management</h5>
                        <p class="card-text">Identify what issues the public has with your brand</p>
                    </div>
                </div>
                <div class="card text-white mb-3">
                    <img src="../static/images/Political-Analysis.png" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Political Analysis</h5>
                        <p class="card-text">See what candidates and policies are favoured</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="textArea" id="featureSection">
        <h1 class="section-heading">Features</h1>
        <p>
            Sentiment Analysis based on different criteria such as:
            <ul>
                <li>Topic</li>
                <li>Redditor</li>
                <li>Subreddit</li>
                <li>Comments</li>
                <li>Domain</li>
            </ul>
            Once the user selected a category they can view the breakdown of the data in the next page, 
            based on several charts and graphs. Some of those graphs are:
            <ul>
                <li>Pie Chart - Sentiment breakdown</li>
                <li>Subreddit Occurence</li>
                <li>Sentiment over a specific window of time</li>
                <li>Wordcloud</li>
            </ul>
            The breakdown of the data also includes a page where you can view each specific post, its sentiment and other important information associated with it.
        </p>
    </div>
    <div class="textArea">
        <h1 class="section-heading">How does it work</h1>
        <div class="row align-items-center">
            <div class="col d-flex justify-content-center align-items-center">
                <img src="../static/images/diagram.PNG" class="img-fluid mx-auto">
            </div>
        </div>
    </div>
</div>
{% if scrollToTrending %}
    <script>
        scrollToElement("trendingSection")
        console.log("scrolling to trending")
    </script>
{% endif%}
{% if scrollToAbout %}
    <script>scrollToElement("featureSection")</script>
{% endif %}