<!--This form -->
<div id="introduction">
    <h1>Discover unique insights on Reddit</h1>
    <h4>
      Here you can enter any topic, give selected paramters and be given a detailed report
    </h4>
    <h3>Have a go below</h3>
    <div id="formSection">
        <div class="tabSection">
            <button class="tab active" onclick="selectTab(event, 'searchBarTopic')">Topic</button>
            <button class="tab" onclick="selectTab(event, 'searchBarUser')">User</button>
            <button class="tab" onclick="selectTab(event, 'searchBarSubreddit')">Subreddit</button>
            <button class="tab" onclick="selectTab(event, 'searchBarComment')">Comments</button>
            <button class="tab" onclick="selectTab(event, 'searchBarDomain')">Domain</button>
        </div>
        <div id="searchBarTopic" class="tabContent">
            <form class='searchForm' action="/showChartsGeneralSearch" method="post">
                <table class="formTable">
                    <tr>
                        <td><label for="searchTopic">Topic:</label></td>
                        <td><input id='searchTopic' name='searchTopic' type="text"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tooltip">
                                <label for="subredditSearchTopic">Subreddit:</label>
                                <span class="tooltiptext">Tooltip text</span>
                            </div>
                        </td>
                        <td><input id="subredditSearchTopic" name='subredditSearchTopic' type='text'></td>
                    </tr>
                    <tr>
                        <td><label for="querySizeTopic">Amount of posts to extract:</label></td>
                        <td><input id="querySizeTopic" name="querySizeTopic" type="number" min="1" max="100" value="10"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnTopic"  type="submit" onclick="showLoader()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="searchBarUser" class="tabContent">
            <form class ='searchForm' action="/showChartsUserSearch" method="post">
                <table class="formTable">
                    <tr>
                        <td><label for="searchUser">User:</label></label></td>
                        <td><input id='searchUser' name='searchUser' type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="typeOfPostUser">Type of Post:</label></td>
                        <td>
                            <input type="radio" id="postRadioUser" name="postTypeRadioUser" value="submissions" onclick="showTypeOfPostUserRow()" checked>
                            <label for="postRadioUser">Posts</label><br>
                            <input type="radio" id="commentRadioUser" name="postTypeRadioUser" value="comments" onclick="showTypeOfPostUserRow()">
                            <label for="commentRadioUser">Comments</label>
                        </td>
                    </tr>
                    <tr id="typeOfPostUserRow">
                        <td><label for="typeOfSearchUser">Search By:</label></td>
                        <td>
                            <select id="typeOfSearchUser" name="typeOfSearchUser" onchange="typeOfSearchChange(this)">
                                <option value="hot">Hot</option>
                                <option value="new">New</option>
                                <option value="rising">Rising</option>
                                <option value="top">Top</option>
                                <option value="controversial">Controversial</option>
                            </select>
                            <select id="searchTimeFrameUser" class="timeFrameSearch" name="searchTimeFrameUser">
                                <option value="all">All</option>
                                <option value="year">This Year</option>
                                <option value="month">This Month</option>
                                <option value="week">This Week</option>
                                <option value="day">Today</option>
                                <option value="hour">This hour</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="querySizeUser">Amount of posts to extract:</label></td>
                        <td><input id="querySizeUser" name="querySizeUser" type="number" min="1" max="100" value="10"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnUser" type="submit" onclick="showLoader()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="searchBarSubreddit" class="tabContent">
            <form class ='searchForm' action="/showChartsSubredditSearch" method="post">
                <table class="formTable">
                    <tr>
                        <td><label for="searchSubreddit">Subreddit</label></label></td>
                        <td><input id='searchSubreddit' name='searchSubreddit' type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="typeOfSearchSubreddit">Search By:</label></td>
                        <td>
                            <select id="typeOfSearchSubreddit" name="typeOfSearchSubreddit" onchange="typeOfSearchChange(this)">
                                <option value="hot">Hot</option>
                                <option value="new">New</option>
                                <option value="rising">Rising</option>
                                <option value="top">Top</option>
                                <option value="controversial">Controversial</option>
                            </select>
                            <select id="searchTimeFrameSubreddit" class="timeFrameSearch" name="searchTimeFrameSubreddit">
                                <option value="all">All</option>
                                <option value="year">This Year</option>
                                <option value="month">This Month</option>
                                <option value="week">This Week</option>
                                <option value="day">Today</option>
                                <option value="hour">This hour</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="querySizeSubreddit">Amount of posts to extract:</label></td>
                        <td><input id="querySizeSubreddit" name="querySizeSubreddit" type="number" min="1" max="100" value="10"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnSubreddit" type="submit" onclick="showLoader()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="searchBarComment" class="tabContent">
            <form class ='searchForm' action="/showChartsCommentSearch" method="post">
                <table class="formTable">
                    <tr>
                        <td>
                            <select id="typeOfSearchComment" name="typeOfSearchComment">
                                <option value="link">Post Link</option>
                                <option value="id">Post ID</option>
                            </select>
                        </td>
                        <td><input id='searchComment' name='searchComment' type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="sortByComments">Sort by:</label></td>
                        <td>
                            <select id="sortByComments" name="sortByComments">
                                <option value="new">New</option>
                                <option value="old">Old</option>
                                <option value="top">Top</option>
                                <option value="controversial">Controversial</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="querySizeComment">Amount of posts to extract:</label></td>
                        <td><input id="querySizeComment" name="querySizeComment" type="number" min="1" max="100" value="10"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnComment" type="submit" onclick="showLoader()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="searchBarDomain" class="tabContent">
            <form class='searchForm' action="/showChartsDomainSearch" method="post">
                <table class="formTable">
                    <tr>
                        <td><label for="searchDomain">Link:</label></td>
                        <td><input id='searchDomain' name='searchDomain' type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="typeOfSearchDomain">Search By:</label></td>
                        <td>
                            <select id="typeOfSearchDomain" name="typeOfSearchDomain" onchange="typeOfSearchChange(this)">
                                <option value="hot">Hot</option>
                                <option value="new">New</option>
                                <option value="rising">Rising</option>
                                <option value="randomRising">Random Rising</option>
                                <option value="top">Top</option>
                                <option value="controversial">Controversial</option>
                            </select>
                            <select id="searchTimeFrameDomain" class="timeFrameSearch" name="searchTimeFrameDomain">
                                <option value="all">All</option>
                                <option value="year">This Year</option>
                                <option value="month">This Month</option>
                                <option value="week">This Week</option>
                                <option value="day">Today</option>
                                <option value="hour">This hour</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="querySizeDomain">Maximum posts to extract:</label></td>
                        <td><input id="querySizeDomain" name="querySizeDomain" type="number" min="1" max="100" value="10"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnDomain"  type="submit" onclick="showLoader()"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div id="formModal" class="modal">
    <div class="loader"></div>
</div>
<script>
    window.addEventListener('pageshow', (event) => {
    if (event.persisted) {
        // Remove the loader
        const loader = document.getElementById('formModal');
        if (loader) {
            loader.style.display = 'none';
        }
    }
    });
</script>