<div id="introduction">
    <h1>Discover unique insights on Reddit</h1>
    <h4>
      Here you can enter any topic, give selected paramters and be given a detailed report
    </h4>
    <h3>Have a go below</h3>
    <div id="formSection">
        <div class="tabSection">
            <button class="tab active" onclick="openCity(event, 'searchBarTopic')">Topic</button>
            <button class="tab" onclick="openCity(event, 'searchBarUser')">User</button>
        </div>
        <div id="searchBarTopic" class="tabContent">
            <form class='searchForm' action="/showCharts" method="post">
                <table class="formTable">
                    <tr>
                        <td><label for="searchTopic">Topic:</label></td>
                        <td><input id='searchTopic' name='searchTopic' type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="subredditSearchTopic">Subreddit:</label></td>
                        <td><input id="subredditSearchTopic" name='subredditSearchTopic' type='text'></td>
                    </tr>
                    <tr>
                        <td><label for="fromDateTopic">From:</label></td>
                        <td><input id="fromDateTopic" name="fromDateTopic" type="date"></td>
                    </tr>
                    <tr>
                        <td><label for="toDateTopic">To:</label></td>
                        <td><input id="toDateTopic" name="toDateTopic" type="date"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnTopic"  type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="searchBarUser" class="tabContent">
            <form class ='searchForm' action="/showCharts" method="post">
                <table class="formTable">
                    <tr>
                        <td><label for="searchUser">User:</label></label></td>
                        <td><input id='searchUser' name='searchUser' type="text"></td>
                    </tr>
                    <tr>
                        <td><label for="fromDateUser">From:</label></label></td>
                        <td><input id="fromDateUser" name="fromDateUser" type="date"></td>
                    </tr>
                    <tr>
                        <td><label for="toDateUser">To:</label></td>
                        <td><input id="toDateUser" name="toDateUser" type="date"></td>
                    </tr>
                    <tr>
                        <td class="submitBtnCell" colspan="2"><input id="sumbitBtnUser" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>