<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/wordcloud@1.1.0/dist/wordcloud.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Reddit Sentiment Analyser</title>
  </head>
  <body>
    <nav>
      <div id="navTitle">
        <img src="">
        <h1>Sentiment explorer</h1>
      </div>
      <div id="navLinks">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Guide</a>
        <a href="#">Sign in</a>
      </div>
    </nav>
    <div id="content">
    {% if form %}
      {% extends "form.html" %}
    {% endif %}
    {% if charts %}
      {% extends "charts.html" %}
    {% endif %}
    </div>
  </body>
</html>