<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <nav>
      <div id="navTitle">
        <img src="">
        <h1>Sentiment Xplorer</h1>
      </div>
      <div id="navLinks">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Sign in</a>
      </div>
    </nav>
    <div id="content">
      <div id="searchBar">
        <form action="post">
          <label for="search">Topic:</label>
          <input id='search' name='search' type="text">
          <label for="search">Subreddit:</label>
          <input id="subredditSearch" name='subredditSearch' type='text'>
          <label for="search">From:</label>
          <input id="startDateSearch" name="startDateSearch" type="date">
          <label for="search">To:</label>
          <input id="endDateSearch" name="endDateSearch" type="date">
          <input id="sumbitBtn" type="submit">
        </form>
      </div>
    </div>
  </body>
</html>