<!--
Author: Dawid Pionk 
Description: This file is responsible for displaying redditors information that is being searched.
            It's only used when the user performs a query about a reddit user
Date: 09/02/2025
-->
<script>
    setRedditorJSONData({{ redditorData | tojson | safe }});
</script>
<div id="userInfo">
    <h1 class="section-heading">{{ redditorData['name'] }}</h1>
    <table class="modal-table">
        <tr>
            <td class="modal-heading">Comment Karma</td>
            <td class="modal-text">{{ redditorData['comment_karma'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Created On</td>
            <td class="modal-text">{{ redditorData['created_utc'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Verified Email</td>
            <td class="modal-text">{{ redditorData['id'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Reddit Employee</td>
            <td class="modal-text">{{ redditorData['is_employee'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Does mod any subreddits?</td>
            <td class="modal-text">{{ redditorData['is_mod'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Reddit Premium Account</td>
            <td>{{ redditorData['is_gold'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Suspended Account</td>
            <td class="modal-text">{{ redditorData['is_suspended'] }}</td>
        </tr>
        <tr>
            <td class="modal-heading">Redditor Link karma</td>
            <td class="modal-text">{{ redditorData['link_karma'] }}</td>
        </tr>
    </table>
</div>