<div id="userInfo">
    <h1>{{ session['redditorName'] }}</h1>
    <h1>Image</h1>
    <table>
        <tr>
            <td>Comment Karma</td>
            <td>{{ session['redditorCommentKarma'] }}</td>
        </tr>
        <tr>
            <td>created_utc</td>
            <td>{{ session['redditorCreatedUTC'] }}</td>
        </tr>
        <tr>
            <td>redditorHasVerifiedEmail</td>
            <td>{{ session['redditorID'] }}</td>
        </tr>
        <tr>
            <td>Is Employee?</td>
            <td>{{ session['redditorIsEmployee'] }}</td>
        </tr>
        <tr>
            <td>Does mod any subreddits?</td>
            <td>{{ session['redditorIsMod'] }}</td>
        </tr>
        <tr>
            <td>Does redditor has active Reddit Premium?</td>
            <td>{{ session['redditorIsGold'] }}</td>
        </tr>
        <tr>
            <td>Whether the user is suspended?</td>
            <td>{{ session['redditorIsSuspended'] }}</td>
        </tr>
        <tr>
            <td>Redditor Link karma</td>
            <td>{{ session['redditorLinkKarma'] }}</td>
        </tr>
    </table>
</div>