<!--
Author: Dawid Pionk 
Description: This file is responsible for displaying each individual post, its sentiment and other
            information associated with it
Date: 09/02/2025
-->
<!--This section lets you sort the order of the posts that are displayed-->
<h2>Sorting under construction</h2>
<div id="sentimentPostsSortSection">
    <input type="button" value="Sort by Score" onclick="sortPostsByScore()">
    <input type="button" value="Sort by Subreddit" onclick="">
    <input type="button" value="Sort by Date" onclick="sortPostsByDate()">
    <div id="dateSortSection">
        <input type="date" id="fromDate" name="fromDate">
        <input type="date" id="toDate" name="toDate">
        <input type="button" value="Filter by Date" onclick="filterPostsByDate()">
    </div>
</div>
<h1>Add here section to download to excel or csv</h1>
<!--This section displays the sentiment sections as well as the posts within each sentiment list-->
<div id="sentimentPostsSection">
    <div class="sentimentSection" id="positiveSentimentSection">
        <h1>Positive Section</h1>
    </div>
    <div class="sentimentSection" id="neutralSentimentSection">
        <h1>Neutral Section</h1>
    </div>
    <div class="sentimentSection" id="negativeSentimentSection">
        <h1>Negative Section</h1>
    </div>
</div>
<!-- This Modal contains detail information of each post -->
<div id="myModal" class="modal">
  <div id="modelContent">
    <table>
        <tr>
            <td>Title:</td>
            <td>
                <h3 id="titleSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Subreddit:</td>
            <td>
                <h3 id="subredditSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Contents:</td>
            <td>
                <h3 id="selfTextSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Score:</td>
            <td>
                <h3 id="scoreSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Author:</td>
            <td>
                <h3 id="authorSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Creation Time:</td>
            <td>
                <h3 id="creationTimeSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Number Of Comments:</td>
            <td>
                <h3 id="numCommentsSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Over 18:</td>
            <td>
                <h3 id="over18Section"></h3>
            </td>
        </tr>
        <tr>
            <td>Link:</td>
            <td>
                <h3 id="permalinkSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Upvotes:</td>
            <td>
                <h3 id="upvotesSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Upvotes Ratio:</td>
            <td>
                <h3 id="upvoteRatioSection"></h3>
            </td>
        </tr>
    </table>
  </div>
</div>
<script>setViewPostsSection()</script>
<!--Listeners for dealing with the modals-->
<script>
var modal = document.getElementById("myModal");
var buttons = document.getElementsByClassName("modalBtn");
 
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>