<!--
Author: Dawid Pionk 
Description: This file is responsible for displaying each individual post, its sentiment and other
            information associated with it
Date: 09/02/2025
-->
<div class="container mb-5 d-flex flex-column align-items-center">
    <button class="btn btn-outline-primary mb-3" onclick="downloadCSV()">Download CSV</button>
</div>
<!--This section displays the sentiment sections as well as the posts within each sentiment list-->
<div id="sentimentPostsSection">
    <div class="sentimentSection mx-3" id="positiveSentimentSection">
        <h1 class="section-heading">Positive Section</h1>
    </div>
    <div class="sentimentSection mx-3" id="neutralSentimentSection">
        <h1 class="section-heading">Neutral Section</h1>
    </div>
    <div class="sentimentSection mx-3" id="negativeSentimentSection">
        <h1 class="section-heading">Negative Section</h1>
    </div>
</div>
<!-- This Modal contains detail information of each post -->
<div id="myModal" class="modal">
  <div id="modelContent">
    <table class="modal-table">
        <tr>
            <td class="modal-heading">Title:</td>
            <td colspan="3">
                <p id="titleSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Contents:</td>
            <td colspan="3">
                <p id="selfTextSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Subreddit:</td>
            <td colspan="3">
                <p id="subredditSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Compound Score:</td>
            <td>
                <p id="compoundScoreSection" class="modal-text"></p>
            </td>
            <td class="modal-heading">Positive Score:</td>
            <td>
                <p id="positiveScoreSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Neutral Score:</td>
            <td>
                <p id="neutralScoreSection" class="modal-text"></p>
            </td>
            <td class="modal-heading">Negative Score:</td>
            <td>
                <p id="negativeScoreSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Author:</td>
            <td>
                <p id="authorSection" class="modal-text"></p>
            </td>
            <td class="modal-heading">Creation Time:</td>
            <td>
                <p id="creationTimeSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Number Of Comments:</td>
            <td>
                <p id="numCommentsSection" class="modal-text"></p>
            </td>
            <td class="modal-heading">Over 18:</td>
            <td>
                <p id="over18Section" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td class="modal-heading">Upvotes:</td>
            <td>
                <p id="upvotesSection" class="modal-text"></p>
            </td>
            <td class="modal-heading">Upvotes Ratio:</td>
            <td>
                <p id="upvoteRatioSection" class="modal-text"></p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p id="permalinkSection" class="modal-text" style="text-align:center"></p>
            </td>
        </tr>
    </table>
  </div>
</div>
<script>setViewPostsSection()</script>
<!--Listeners for dealing with the modals-->
<script>
var modal = document.getElementById("myModal");
var buttons = document.getElementsByClassName("modalBtn");
 
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
    document.body.classList.remove("modal-open");
  }
}
</script>