<!--
Author: Dawid Pionk 
Description: This file is responsible for displaying each individual post, its sentiment and other
            information associated with it
Date: 09/02/2025
-->
<div class="container mb-5 d-flex flex-column align-items-center">
    <button class="btn btn-outline-primary mb-3" onclick="downloadCSV()">Download CSV</button>
</div>
<!--This section displays the sentiment sections as well as the posts within each sentiment list-->
<div id="sentimentPostsSection">
    <div class="sentimentSection mx-3" id="positiveSentimentSection">
        <h1 class="section-heading">Positive Section</h1>
    </div>
    <div class="sentimentSection mx-3" id="neutralSentimentSection">
        <h1 class="section-heading">Neutral Section</h1>
    </div>
    <div class="sentimentSection mx-3" id="negativeSentimentSection">
        <h1 class="section-heading">Negative Section</h1>
    </div>
</div>
<!-- This Modal contains detail information of each post -->
<div id="myModal" class="modal">
  <div id="modelContent">
    <table>
        <tr>
            <td>Title:</td>
            <td>
                <h3 id="titleSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Subreddit:</td>
            <td>
                <h3 id="subredditSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Contents:</td>
            <td>
                <h3 id="selfTextSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Compound Score:</td>
            <td>
                <h3 id="compoundScoreSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Positive Score:</td>
            <td>
                <h3 id="positiveScoreSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Neutral Score:</td>
            <td>
                <h3 id="neutralScoreSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Negative Score:</td>
            <td>
                <h3 id="negativeScoreSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Author:</td>
            <td>
                <h3 id="authorSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Creation Time:</td>
            <td>
                <h3 id="creationTimeSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Number Of Comments:</td>
            <td>
                <h3 id="numCommentsSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Over 18:</td>
            <td>
                <h3 id="over18Section"></h3>
            </td>
        </tr>
        <tr>
            <td>Link:</td>
            <td>
                <h3 id="permalinkSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Upvotes:</td>
            <td>
                <h3 id="upvotesSection"></h3>
            </td>
        </tr>
        <tr>
            <td>Upvotes Ratio:</td>
            <td>
                <h3 id="upvoteRatioSection"></h3>
            </td>
        </tr>
        <tr>
            <td>URL:</td>
            <td>
                <h3 id="urlSection"></h3>
            </td>
        </tr>
    </table>
  </div>
</div>
<script>setViewPostsSection()</script>
<!--Listeners for dealing with the modals-->
<script>
var modal = document.getElementById("myModal");
var buttons = document.getElementsByClassName("modalBtn");
 
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>