/* The style for the navigation bar */
nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

body {
  overflow-y: auto;
}
#navTitle{
  padding: 5px;
}

#navLinks a{
  padding: 5px;
  color: white;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 1px solid black;
  flex: 1;
}
/*
//////////////////////////////////

Section for only the form page

//////////////////////////////////
*/

#formSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid black;
  padding: 0;
  margin-top: 50px;
}
/*This is the submit button for the forms*/
#sumbitBtn {
  align-self: flex-end;
} 

/* This is to style divs that contain tabs within them */
.tabSection {
  width: 100%;
}

.tabSection button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}
.tabSection button:hover {
  background-color: #ddd;
}

.tabSection button.active {
  background-color: #ccc;
}

.tabContent {
  display: none;
  padding: 6px 12px;
}

.submitBtnCell {
  text-align: center;
}

.searchForm{
  border-spacing: 10px;
}
.tabContent{
  border: 1px solid blakc;
}

.formTable {
  border-spacing: 10px;
}
/*
//////////////////////////////////

Section for only the chart page

//////////////////////////////////
*/
#moreChartSection {
  margin: 10px;
  border: 1px solid black;
  display: inline;
}
#viewPostsSection {
  display: none;
}
#expandablePostDetails {
  display: none;
  border: 1 solid black;
}