/*
Author: Dawid Pionk
Date: 05/12/2024
Description: Contains css styles for this project
*/
/*
//////////////////////////////////

Section for elements on multiple pages

//////////////////////////////////
*/
html{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  overflow-y: auto;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  flex: 1;
}
h1 {
  margin: 5px;
  padding: 5px;
}
h2 {
  margin: 5px;
  padding: 5px;
}
h3{
  margin: 5px;
  padding: 5px;
}
h4 {
  margin: 5px;
  padding: 5px;
}
/* Tooltip container */
.tooltip {
  display: inline-block;
  opacity: 1;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
/* Tooltiptext when hovered over */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* This class styles the different icons on the website 
.icons{
  width: 40px;
  height: 40px;
  background: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  text-decoration: none;
  color: black;
  transition: 0.3s;
  margin: 5px;
}
*/
.section-heading{
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.section-heading::after{
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: #ff4400;
  margin: 0.5rem auto; /* Center the line */
  border-radius: 5px;
}
a.icon-link.mx-2{
  text-decoration: none;
  color: #ff6127;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
a.icon-link.mx-2:hover{
  transform: scale(1.1);
  color: #ff4400;
}
.btn-primary {
  background-color: #FF5700;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
}
.btn-primary:hover {
  background-color: #ff4400;
  color: white;
  transform: scale(1.1);
  border: none;
}
/*
//////////////////////////////////

Section for the navigation bar

//////////////////////////////////
*/
#navbar{
  z-index: 100;
  position: fixed;
  top: 0;
  max-width: 100vw;
  width: 100vw;
  background-color: transparent;
  transition: background 0.6s ease, padding 0.6s ease;
}
#navbar.scrolled {
  background: #FF5700;
  backdrop-filter: blur(5px);
  padding: 10px 0;
  opacity: 0.8;
}
nav li {
  margin-right: 1rem;
}
.navbar-brand{
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-link{
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-link.active{
color: black;
}
.form-corntrol{
  display: inline-block;
  padding-right: 0;
  width: 2px;
}
@media (max-width: 768px){
  #formSection{
    max-width: 90vw;
  }
}
@media (min-width: 768px){
  .navbar-collapse{
    flex-basis: 0;
    flex-grow: 0;
  }
}
/*
//////////////////////////////////

Section for form.html styling

//////////////////////////////////
*/

#hero{
  height: 100vh;
  width: 100vw;
}
#formSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid white;
  padding: 20px; /* Add padding for spacing */
  box-shadow: 15px 15px 20px grey;
  background: #FF8b60;
  transition: width 0.5s ease, height 0.5s ease;
}
/*This is the submit button for the forms*/
#sumbitBtn {
  align-self: flex-end;
} 
#searchBarTopic{
  display: block;
}
/* This is to style divs that contain tabs within them */
.tabSection {
  display: flex;
  width: 100%;
  border-bottom: 1px solid gray;
}

.tabSection button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}
.tabSection button:hover {
  background-color: #ddd;
}

.tabSection button.active {
  background-color: #ccc;
}

.tabContent {
  display: none;
  padding: 10px;
  height: auto;
  transition: all 0.5s ease-in-out; /* Smooth animation for height and padding */
}

/* Active tab content */
.tabContent.active {
  display: block;
  transition: width 0.5s ease, height 0.5s ease;
}

.submitBtnCell {
  text-align: center;
}

.searchForm{
  border-spacing: 10px;
}

.formTable {
  border-spacing: 10px;
}
table.formTable td {
  padding-bottom: 1rem;
}
/* Loader for after submit form is clicked */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40vh;
  left: 46vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* This sets the time frames on the form to be hidden at the start */
.timeFrameSearch {
  display: none;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-bg {
  background: linear-gradient(-45deg, #ff5e00, #ff9532, #ff6b16, #8f3502);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
  width: 100vw;
}
/*
//////////////////////////////////

Section for extraInformation.html styling

//////////////////////////////////
*/
.card img {
  min-height: 5rem;
  object-fit: contain; /* Prevent distortion */
  background-color: #fff;
  border: 0.5rem solid #de6b28;
}
.card{
  margin: 1rem;
  background-color: #de6b28;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  min-width: 18rem;
  max-width: 18rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.05); /* Slight enlargement */
  box-shadow: 
        rgba(0, 0, 0, 0.6) 0px 30px 40px -10px,  /* Stronger main shadow */
        rgba(0, 0, 0, 0.4) 0px 0px 20px; /* Soft outer glow */
}
.card-group a{
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none; /* Remove default underline */
}
.textArea{
  width: 60vw;
}
.trendingTopic{
  border-top: 1px solid white;
  padding: 5px;
  text-align: center;
}
#trendingTopicsTable{
  background: #FF8b60;
  box-shadow: 15px 15px 20px grey;
  border: 3px solid white;
}
#trendingTopicsTable th{
  text-align: center;
}
#trendingSection{
  display: flex;
  justify-content: center;
  flex-direction: column;
  scroll-margin-top: 75px;
}
#trendingButtons{
  text-align: center;
  border-top: 1px solid white;
}
#viewMoreTrends{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
#additionalInformation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featureSection{
  scroll-margin-top: 75px;
}
/*
//////////////////////////////////

Section for only the chart.html

//////////////////////////////////
*/
#moreChartSection {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chartContainer {
  width: 50%;
  min-height: 400px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#pieChart {
  max-width: 400px;
  max-height: 400px;
}
#pieChartSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#moreChartSection h2 {
  margin: 10px;
}
#viewPostsSection {
  display: none;
}
#expandablePostDetails {
  display: none;
}

#subredditBarChart{
  height: 600px;
  width: 600px;
}
#wordcloudSVG{
  width:  500px;
  height: 500px;
}
/*
//////////////////////////////////

Section for breakdown.html

//////////////////////////////////
*/
#breakdown{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#breakdownTable{
  border: solid 1px black;
}
#breakdownTable td{
  border: solid 1px black;
}
#breakdownTable th{
  border: solid 1px black;
}
#breadownTable tr{
  border: solid 1px black;
}
/*
//////////////////////////////////

Section for viewPosts.html

//////////////////////////////////
*/
#sentimentPostsSortSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px black solid;
  padding: 5px;
}
#sentimentPostsSection {
  display: flex;
  overflow: scroll;
  overflow-x: auto;
  height: 400px;
}
.sentimentSection {
  text-align: center;
  width: 25vw;
}
.sentimentSection button {
  width: 100%;
  margin: 5px;
}


/* Style for the background of a modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Styles the inside of a model */
#modelContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

/*
//////////////////////////////////

Section for userInfo.html

//////////////////////////////////
*/
#userInfoContainer {
  display: none;
}
#userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
//////////////////////////////////

Section for footer

//////////////////////////////////
*/
footer{
  text-align: center;
  background: #4d4741f6;
}
footer p{
  margin: 0;
}